
 <!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      
      <title>Home</title>
      
  </head>
  <body>
 <a href='/BSD'>BSD Students</a></br>
 <a href='/allStudents'>All Students</a></br>
 <a href='/highGPA'>Highest GPA</a><br>
 <a href='/'>Home</a><br>


<div class="container">
      {{{body}}}

    </div>
    <h2>Student Honour Pledge:</h2>
<p>I acknowledge the College's academic integrity policy.<br>On my honor, I have neither given or received unauthorized aid on this test. </p><br>
<p>Name:<b style='background-color: yellow;'>Tianchen Zhang</b><br><br>Student Number:<b style='background-color: yellow;'>101569218</b></p>
   
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>